<section>
<div class="bold">Welcome to Version 13.19 for Age of Vikings</div>
<br>
<div class="underline">New Actor Type - Party</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/aov/wiki/Party">https://github.com/Genii-Locorum/aov/wiki/Party</a></div>
<div class="underline">Combat Tracker Updated</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/aov/wiki/Combat-Tracker">https://github.com/Genii-Locorum/aov/wiki/Combat-Tracker</a></div>
<div class="indent"></div>
<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/aov/blob/main/changelog.md">https://github.com/Genii-Locorum/aov/blob/main/changelog.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;;" href="https://github.com/Genii-Locorum/aov/issues">https://github.com/Genii-Locorum/aov/issues</a></div>
<br>
<div class="underline">Game Instructions at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/aov/wiki/">https://github.com/Genii-Locorum/aov/wiki/</a></div>
<br>

</section>