<section>
<div class="bold">Welcome to Age of Vikings Version {{targetVersion}}</div>
<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/cragstone/aov/blob/main/changelog.md">https://github.com/cragstone/aov/blob/main/changelog.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;;" href="https://github.com/cragstone/aov/issues">https://github.com/cragstone/aov/issues</a></div>
<br>
<div class="underline">Game Instructions at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/cragstone/aov/wiki/">https://github.com/cragstone/aov/wiki/</a></div>
<br>
{{#if migrate136}}
  <div class="underline">Data Migration</div>
  <div class="indent">Damage Types will be updated.  Please click 'CONFIRM' to proceed.</div>
  <br>
{{/if}}
{{#if migrate1310}}
  <div class="underline">Data Migration</div>
  <div class="indent">Character Starting Stats functionality will be updated.  Please click 'CONFIRM' to proceed.</div>
  <br>
{{/if}}
{{#if migrate1312}}
  <div class="underline">Data Migration</div>
  <div class="indent">Skill Names functionality will be updated.  Please click 'CONFIRM' to proceed.</div>
  <br>
{{/if}}

</section>